<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Estudy</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="./indexStyle.css" />
  <!-- <script src="https://kit.fontawesome.com/0d61d4576c.js" crossorigin="anonymous"></script> -->
</head>

<body>
  <header>
    <a href="#" class="logo"><i class="fa-solid fa-building-columns"></i>Estudy</a>
    <a href="/login">
      <div id="login" class="fas fa-user-circle"></div>
    </a>
  </header>
  <section class="home" id="home">
    <h1>Online Training Platform</h1>
    <p>Become Skilled within 2 Months with Professional Certificates</p>
    <a href="/register"><button class="btn">
        <i class="fab fa-github"></i> Register for Free
      </button></a>
    <a href="#course"><button class="btn">Explore tracks</button></a>
  </section>

  <section class="about" id="about">
    <div class="detail">
      <h3>Upskilling</h3>
      <p>
        8 Weeks of intensive training & certifications through structured,
        industry vetted curriculum.
      </p>
    </div>
    <div class="detail">
      <h3>Live Projects</h3>
      <p>
        Build real, ready-to-ship products with team members, professionals &
        students from other tracks.
      </p>
    </div>
    <div class="detail">
      <h3>Workplace Skills</h3>
      <p>
        Build your resume,enhance your profile & get noticed by recruiters
        from top companies.
      </p>
    </div>
    <div class="detail">
      <h3>Industry Certification</h3>
      <p>
        Get Internship & training certificates and gain a point of
        differentiation on your CV for your college placements.
      </p>
    </div>
  </section>

  <section class="course" id="course">
    <h1 class="heading">our popular courses</h1>

    <div class="box-container">
      <div class="box">
        <img src="5.jpg" alt="" />
        <div class="content">
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <a href="#" class="title">Software Developer</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
            beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non
            debitis!
          </p>
          <div class="info">
            <h3><i class="far fa-clock"></i> 2 hours</h3>
            <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
            <h3><i class="fas fa-book"></i> 12 modules</h3>
          </div>
        </div>
      </div>

      <div class="box">
        <img src="2.jpg" alt="" />
        <div class="content">
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <a href="#" class="title">Data Analyst</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
            beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non
            debitis!
          </p>
          <div class="info">
            <h3><i class="far fa-clock"></i> 2 hours</h3>
            <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
            <h3><i class="fas fa-book"></i> 12 modules</h3>
          </div>
        </div>
      </div>

      <div class="box">
        <img src="4.jpg" alt="" />
        <div class="content">
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <a href="#" class="title">Marketing & Sales</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
            beatae. Modi quos excepturi id quibusdam? Molestiae quis nihil non
            debitis!
          </p>
          <div class="info">
            <h3><i class="far fa-clock"></i> 2 hours</h3>
            <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
            <h3><i class="fas fa-book"></i> 12 modules</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="teacher" id="teacher">
    <h1 class="heading">our expert teachers</h1>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At non
      explicabo tempora modi, reprehenderit ratione sunt ea porro tenetur
      officiis alias sapiente praesentium voluptas cumque quo maiores dolores
      totam ex.
    </p>

    <a href="#"><button class="btn">learn more</button></a>
  </section>

  <div class="footer">
    <div class="box-container">
      <div class="box">
        <h3>tracks</h3>
        <a href="#">Software Development</a>
        <a href="#">Data Analytics</a>
        <a href="#">Marketing & Sales</a>
      </div>

      <div class="box">
        <h3>company</h3>
        <p><i class="far fa-comments"></i> Contact Us</p>
        <p><i class="fas fa-phone"></i> Request a Call Back</p>
        <p><i class="far fa-file-alt"></i> T&C</p>
        <p><i class="fas fa-file-contract"></i> Privacy</p>
      </div>

      <div class="box">
        <h3>Got a referal code ?</h3>
        <p>
          Enter your referral code to enroll directly into the Internship
          Training Program.
        </p>
        <div class="box3">
          <input type="name" placeholder="Referal code" class="box1" />
          <a href="#"><button class="btn">submit</button></a>
        </div>
      </div>
    </div>

    <h6 class="credit">
      &copy;2022 This page is protected by reCAPTCHA and is subject to the Google
      Privacy Policy and Terms of Service.
    </h6>
  </div>

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./script.js"></script>
</body>

</html>